@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-lg-4 col-md-6 col-md-offset-3 col-lg-offset-4">
        @if (Model.IsGenerated)
        {
            <div class="alert alert-success">
                Woop - Your URL is now shortened to <pre>http://l.rudiv.se/@Model.MyIdAlpha</pre>
            </div>
        }

        <form method="post">
            <input asp-for="Url" type="url" class="form-control" placeholder="Paste your URL here to shorten" />

            <button type="submit">Shorten</button>
        </form>
    </div>
</div>